@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 300;
  margin: 0;
  align-self: center;
  font-size: 3rem;
}

.stripes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
}

.stripes .stripe {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  width: 20%;
  margin-right: 3px;
}

.block1 {
  background-color: #244f75;
}

.block2 {
  background-color: #60bfbf;
}

.block3 {
  background-color: #8c4b7e;
}

.block4 {
  background-color: #f8bb44;
}

.block5 {
  background-color: #f24b4b;
}

.stripe::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.1;
  transform: skew(25deg);
  width: 100%;
  height: inherit;
  transition: transform 0.3s;
}

.stripe:hover:before {
  transform: scale(3);
}

@keyframes block1 {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes block2 {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes block3 {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes block4 {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes block5 {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

.block1 {
  animation: 0.5s ease-out 0s 1 block1 both;
}

.block2 {
  animation: 0.5s ease-out 0.1s 1 block2 both;
}

.block3 {
  animation: 0.5s ease-out 0.2s 1 block3 both;
}

.block4 {
  animation: 0.5s ease-out 0.3s 1 block4 both;
}

.block5 {
  animation: 0.5s ease-out 0.4s 1 block5 both;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.25rem;
  }
}
