//Font Variables
$font-stack: "Lato", sans-serif;

//Colors Variables - Background
$background: #fff;

//Colors Variables - Blocks
$background-color1: #244f75;
$background-color2: #60bfbf;
$background-color3: #8c4b7e;
$background-color4: #f8bb44;
$background-color5: #f24b4b;
